body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121312;
    color: #DCC9A9;
}

/* Header */
header {
    background: #222;
    color: #DCC9A9;
    padding: 20px;
    text-align: center;
}

/* Main content */
main {
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    margin-top: 40px;
    color: #DCC9A9; 
}
